<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
    
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">RecruitToRiches</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

        </div>
      </nav>

    </header>

    <main role="main">
        
        
        <div class="top">
            <div class="ptext">
                <span class="border">
                    Recruit to Riches
                </span>
            </div>
        </div>
        <section class="section section-1">
            <h2>Project Scope </h2>
            <p>Recruit to Riches is a project analyzing individual high school football players recruiting rankings and how good of a probability indicator these rankings are on whether they will get drafted into the National Football League. Our team utilized the recruiting ranking website 247sports, which employs a proprietary algorithm that compiles prospect "rankings" and "ratings" listed in the public domain by the major media recruiting services. It converts average industry ranks and ratings into a linear composite index capping at 1.0000, which indicates a consensus No. 1 prospect across all services.</p>
        </section>
        
        <div class="second">
            <span class="border">

            </span>
        </div>

        
        
       <section class="section section-2">
        <h2>Exploring the Data</h2>
        <p><ul></ul><li>What towns and cities have the highest concentration of players rated in the 247sports composite?</li>
            <li>Do recruiting rankings accurately reflect the skill of a player and their likelyhood to be drafted to the NFL?</li>
            <li>What collegiate programs are highest rated recruits attending?</li>
            <li>Do recruits that signed with certain collegiate programs have a higher chance of being drafted?</li></ul></p>
       </section>
       <hr>
       <div class="container">
            <div class="third">
                <span class="border">

                </span>
            </div>
       </div>
        <hr>
        <div class="fourth">
            <span class="border">

            </span>
        </div>
        <hr>
        <section class="section section-3">
            <h2>Recruit Origins</h2>
            <p>Examination of the heat-map and stacked horizontal bar chart show us that recruits are prmiarily located in urban centers as opposed to rural areas. The highest concentration of recruits came from California, Georgia, Florida, Ohio and Texas.</p>
        </section>
        <hr>
        <div class="container">
            <div class="chart"></div>
        </div>
        <hr>
        <div class="container">
            <div class="fifth">
                <span class="border">
    
                </span>
            </div>  
        </div>
        <hr>
        <div class="container">
            <span class="border">
                <div id="draft-round"></div>
            </span>
        </div>
        <section class ="section section-4">
            <h2>Star Power</h2>
            <p>Of the hundreds of thousands of highschool football players only a limited amount are given star ratings by recruiting services. Of these , 1 and 2 stars make up 36%, 3 stars make up 52%, 4 stars make up 11%, and 5 stars make up just 1% of the total rated recruits. Each year only 7% of eligible players will be drafted. 5 and 4 stars dominate the early rounds 1 through 3 of the draft however 3 stars and 2 star rated players fill out the majority of the later rounds. No one star players were drafted during our analysis.</p>
        </section>
        <div class="container">
            <span class="border">
                <div id="bubble"></div>
                <div id="dropdown"></div>
            </span>
        </div>
        <section class="section section-5">
            <h2>Mascots Matter</h2>
            <p>When it comes to your recruiting rank, players should be aware of which schools will put them in the best postion to be drafted. 5 stars have high chances of being drafted from Clemson while 4 stars should look to Iowa and Louisville. Interestingly 3 star recruits have good chances of standing out if they attend small programs such as Georgia Southern.</p>
        </section>

        <hr>
    
        <section id="team">
            <div class="container-marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="static/assets/naser.png" alt="Naser" width="140" height="140">
                <h2>Naser Erwemi</h2>
                <p>Worked on backend development as well as building visualizations.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="static/assets/stu.jpg" alt="Stu" width="140" height="140">
                <h2>Stuart Gillies</h2>
                <p>Worked on backend development as well as buliding visualizations</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="static/assets/nick6.png" alt="Nick" width="140" height="140">
                <h2>Nick Roach</h2>
                <p>Worked on front end development as well as visualizations.</p>
                <p><a class="btn btn-secondary" href="#https://www.linkedin.com/in/nicholas-roach-313652103/" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            </div>
        </section>
        <hr>
        <footer>
            <p> <a href="https://github.com/Roachns/Recruit-to-Riches">
            Recruit to Riches</a></p>
        </footer>
        

    </main>
   




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
    

    

</body>
</html>